<div class="page animated fadeInDown">

<div class="boxes">
    <div class="box box-big box-inside">
        <p><input type="text" class="inputfield title" placeholder="Jeg synes at Digipost skal..." value="<%= item.title %>"></p>
        <p><textarea placeholder="Beskriv din idé..." class="inputfield tall body"><%= item.source %></textarea></p>
        <p>
            <a href="#" class="button button2 save"><i class="fa fa-ok"></i> Publiser din idé</a>
            <a href="#!/" class="button button5 close"><i class="fa fa-remove"></i> Avbryt</a>
        </p>
    </div>
    <div class="box box-small">
        <h5>Hva slags idéer?</h5>
        <p>Vi setter stor pris på alle idéer. Du kan foreslå alt fra nye bedrifter du vil ha post fra,
        til funksjoner som du synes mangler i Digipost. Vi vil også gjerne høre dine tanker
        om hvordan fremtiden til digital post bør se ut.</p>
        <p>Ved å dele din idé på disse sidene, gir du Posten Norge AS bruksrett til idéen.</p>
        <h5>Jeg trenger hjelp!</h5>
        <p>Hvis du har et spesifikt problem med din konto eller din maskin,
            er det enklere å kontakte vår kundeservice direkte. Gå til
            <a href="https://www.digipost.no/hjelp/">vår hjelpeside</a> for hjelp eller for å kontakte kundeservice.</p>
    </div>
</div>

<div class="clear"></div>
</div>
