<div class="page animated fadeInDown">

<div class="boxes">
    <div class="box box-big box-inside">

    </div>
    <div class="box box-small">
        <h5>Lag ny:</h5>
        <p>
            <a href="#!/admin/create/news">Nyhet</a><br>
            <a href="#!/admin/create/tweet">Tweet</a>
        </p>
    </div>
    <div class="box box-small box-small-top">
        <h5>Administrer:</h5>
        <p>
            <a href="#!/admin/items">Alle innlegg</a><br>
            <a href="#!/admin/comments">Siste kommentarer</a><br>
            <a href="#!/admin/profiles">Profiler</a><br>
        </p>
    </div>
</div>

<div class="clear"></div>
</div>
