<div class="box box-small box-small-top">
    <h5>Formatering</h5>
    <p>Du kan bruke Markdown til å formatere bloggposter. <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">Hjelp til å bruke Markdown</a>.</p>
    <p>For å legge inn et bilde, last opp bildet til <a href="http://imgur.com/">Imgur</a>, og sett inn et bilde ved hjelp av Markdowns bilde-innsetting. Eksempel: <pre>![Alternativ tekst](https://...)</pre> Husk å bruke <strong>https</strong> i stedet for http i adressen.</strong></p>
</div>