<div class="login-digipost">
    <a class="button button2 action action-login" rel="Digipost" href="#"><i class="icon digipost"></i> Logg inn med Digipost</a>
</div>
<p>
    Eller velg en av tjenestene nedenfor:
</p>
<p>
    <a class="button button3 action action-login" rel="Google" href="#"><i class="fa fa-google-plus"></i> Google</a>
    <a class="button button3 action action-login" rel="Yahoo" href="#"><i class="icon yahoo"></i> Yahoo</a>
    <a class="button button3 show-openid-input" href="#"><i class="fa fa-lock"></i> OpenID</a>

    <div class="openid hide">
        <input type="text" class="inputfield action action-openid-login" placeholder="Din OpenID-adresse">
        <a class="button button3 action action-openid-login" rel="Openid" href="#" title="Logg inn">Logg inn</a>
    </div>
</p>