<div class="tiles container">
    <div class="tiles-inner">

        <div class="type-index hide">
            <div class="tile tile-text tile-action"><div class="tile-inner">
                <div class="title title-close">Velkommen til Digipost Labs! Her kan du dele dine idéer:</div>
                <p class="session-in hide"><a class="button button2" href="#!/create/idea">Del din idé med oss</a></p>
                <p class="session-out hide"><a class="button button2 session-login" href="#">Logg inn for å dele din idé</a></p>
            </div></div>
        </div>

        <!--
        <div class="type-index type-news hide">
            <a class="tile tile-promo" href="https://www.digipost.no/privat/kart"><div class="tile-inner">
                <div class="img img-tile-shop"></div>
                <p>Butikker som tilbyr elektroniske kvitteringer</p>
            </div></a>
        </div>

        <div class="type-index type-news hide">
            <a class="tile tile-end tile-promo" href="https://www.digipost.no/faktura"><div class="tile-inner">
                <div class="img img-tile-payment"></div>
                <p>Send fakturaer rett til din nettbank!</p>
            </div></a>
        </div>
        -->

        <div class="type-idea hide">
            <div class="tile tile-end tile-text tile-action"><div class="tile-inner">
                <div class="title title-close">Har du en god idé? Her kan du dele den med Digipost:</div>
                <p class="session-in hide"><a class="button button2" href="#!/create/idea">Del din idé med oss</a></p>
                <p class="session-out hide"><a class="button button2 session-login" href="#">Logg inn for å dele din idé</a></p>
            </div></div>
        </div>

    </div>

    <div class="menu bottom hide">
        <ul>
            <li><a class="txt action action-more" href="#!/">Hent flere hendelser...</a></li>
        </ul>
    </div>
</div>

