<a class="tile tile-idea" href="#!/item/<%= item.id %>"><div class="tile-inner">
    <div class="label">Idé</div>
    <div class="title"><%= item.title %></div>
    <%unsafe dp.item.avatar(item.author) %>
    <div class="author">Idé fra <%= dp.item.firstName(item.author.name) %></div>
    <div class="score">
        <span class="score-<%= item.votes ? 'active' : 'inactive' %>">
            <i class="fa fa-thumbs-up"></i> <%= item.votes || 0 %></span>
        <span class="score-<%= item.comments.length ? 'active' : 'inactive' %>">
            <i class="fa fa-comment"></i> <%= item.comments.length || 0 %></span>
    </div>
    <div class="finished hide"><div class="finished-text">Ferdig</div></div><div class="finished-inner hide"></div>
</div></a>
