<a class="tile tile-promo" href="<%= item.url %>"><div class="tile-inner">
    <div class="tweet"><cite><i class="fa fa-quote-left"></i> <%= item.body %> <i class="fa fa-quote-right"></i></cite></div>
    <div class="author author-tweet"><i class="fa fa-twitter"></i> <%= item.author.name %></div>
</div></a>