# Instead of Control-a, make the escape/command character be Control-x
escape ^Xx

# Autodetach session on hangup instead of terminating screen completely
autodetach on

# Turn off the splash screen
startup_message off

# Use a 3000-line scrollback buffer
defscrollback 3000

# Charset
encoding UTF-8
defutf8 on

# Color
term screen-256color
attrcolor b ".I"
defbce "on"

# Make xterm scrolling work properly with screen.
termcapinfo xterm-color|xterm|xterms|xs|rxvt|screen-256color-bce ti@:te@

# No key timeout
maptimeout 0
defc1 off

# don't remove windows from the window list as soon as window process exits.
zombie kr #  k: destory window, r: resurrect window

# Open initial screens
screen -t work
screen -t proxy bash -c "./nodeproxy.sh"
screen -t mongodb bash -c "mongod --config mongod.conf --setParameter textSearchEnabled=true & tail -f /usr/local/var/log/mongodb/mongo.log"
screen -t frontend bash -c "cd ../frontend && pacbot -d"
screen -t backend bash -c "cd ../backend && ./sbt ~re-start"

# Go to the first shell
select work

stuff ./screen-intro.sh
stuff \015

# Changing windows
bindkey ^[[5;5~ prev
bindkey ^[[6;5~ next
bind ',' prev
bind '.' next
bind 'q' quit

# F1-F4 selects screens 1-4, F5 selects work
bindkey -k k1 select 1
bindkey -k k2 select 2
bindkey -k k3 select 3
bindkey -k k4 select 4
bindkey -k k5 select 0

# messages
bell_msg '[ ^GBell -> %n ]'
activity '[ ^GActivity -> %n ]'

# toolbar
hardstatus off
caption always '%{= kb}%c%{= kw} :: %{= kg}%H%{= kw} :: %{= kw}%?%-Lw%?%{= kr}%n*%f %t%?(%u)%?%{= kw}%?%+Lw%?%?'
