<div class="admin animated fadeInDown">

    <h3 class="section"><span>
        <i class="fa fa-edit"></i> Administrasjon
    </span></h3>

    <p>
        <a class="button button3 action action-edit" rel="edit" href="#"><i class="fa fa-edit"></i> Redigèr</a>
        <a class="button button3 action action-delete" rel="edit" href="#"><i class="fa fa-trash-o"></i> Slett</a>
    </p>

</div>
