<div class="votes animated fadeInDown">

    <h3 class="section"><span>
        <i class="fa fa-thumbs-up"></i> Om du syns dette var nyttig, del det!
    </span></h3>

    <p>
        <a class="button button3 action action-share" rel="twitter" href="#"><i class="fa fa-twitter"></i> Twitter</a>
        <a class="button button3 action action-share" rel="facebook" href="#"><i class="fa fa-facebook"></i> Facebook</a>
        <a class="button button3 action action-share" rel="google" href="#"><i class="fa fa-google-plus-square"></i> Google+</a>
        <a class="button button3 action action-share" rel="linkedin" href="#"><i class="fa fa-linkedin-square"></i> LinkedIn</a>
    </p>

</div>
