#digipost .button {
  display: inline-block;
  position: relative;
  overflow: visible;
  width: auto;
  zoom: 1;
  padding: 7px 20px 8px 20px;
  margin: 0 5px 5px 0;
  border-radius: 0;
  text-decoration: none;
  text-shadow: none;
  white-space: nowrap;
  font-size: 16px;
  letter-spacing: -.01em;
  font-family: 'FoundryMonolineRegular',Arial,Helvetica,sans-serif;
  line-height: 1.5;
  color: #fff;
  border: none;
  -webkit-transition: background 50ms ease-in-out;
  -moz-transition: background 50ms ease-in-out;
  -ms-transition: background 50ms ease-in-out;
  -o-transition: background 50ms ease-in-out;
  transition: all 0.2 ease-in-out;
  background: #e32d22;
}

#digipost .button:hover,
#digipost .button:focus {
  border-bottom-color: #900;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  background-color: #FA2D16;
  outline: none;
  backface-visibility: hidden;
}

#digipost .button:active {
  background: #c00;
  color: #fff;
}

/* ------------------------------------------------------------ */

#digipost .button.button2 {
  background: #FA2D16;
  color: #fff;
}

#digipost .button.button2:hover,
#digipost .button.button2:focus {
  background: #FA2D16;
  color: white;
}

#digipost .button.button2:active {
  background: #c00;
}

/* ------------------------------------------------------------ */

#digipost .button.button3 {
  background: transparent;
  color: #4D4F53;
  border: 2px solid #bfc0c4;
}

#digipost .button.button3:hover,
#digipost .button.button3:focus {
  background: #757477;
  border: 2px solid #757477;
  color: white;
}

#digipost .button.button3:active {
  background: #757477;
}

/* ------------------------------------------------------------ */

#digipost .button.button4 {
  background: #7bc144;
  color: #fff;
  font-weight: normal;
  border-color: #6fb13b;
}

#digipost .button.button4:hover,
#digipost .button.button4:focus {
  background: #6fb13b;
  border-bottom-color: #578b2e;
}

#digipost .button.button4:active {
  background: #3f6421;
}

/* ------------------------------------------------------------ */

#digipost .button.button5 {
  background: none;
  color: #0067dc;
  font-weight: normal;
  border-color: transparent;
}

#digipost .button.button5:hover,
#digipost .button.button5:focus {
  background: #dde1e6;
  border-bottom-color: transparent;
}

#digipost .button.button5:active {
  background: #ced4db;
}

/* ------------------------------------------------------------ */

#digipost .button.disabled {
  opacity: 0.4;
  -ms-filter: "alpha(opacity=40)";
  filter: alpha(opacity=40);
}

#digipost .button i {
  float: left;
  display: block;
  margin: 3px 7px -2px -5px;
  position: static;
  left: 0;
  top: 0;
}

#digipost .button.big {
  border-bottom-width: 3px;
  padding: 8px 30px 8px 30px;
  font-size: 1em;
  border-radius: 4px;
}

#digipost .button.big i {
  margin: 3px 10px -3px -5px;
}

#digipost .button.small {
  border-bottom-width: 2px;
  padding: 4px 13px 2px 13px;
  font-size: 0.85em;
  border-radius: 4px;
}

#digipost .button.button-span {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  text-align: center;
}

#digipost .button-alone {
  display: block;
  max-width: 13em;
  margin: 2em auto 0 auto;
}

#digipost .button .icon {
    top: .2em;
    position:relative;
    width: 1.3em;
    height: 1.3em;
    background-repeat: no-repeat;
    background-size: contain;
}

#digipost .button .icon.yahoo {
    background-image: url("/assets/images/icons/yahoo.png");
}

#digipost .button .icon.digipost {
    top: -2px;
    background-image: url("/assets/images/icons/win8tile.png");
}
