#header ul {
  -webkit-font-smoothing: antialiased;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#header {
  font-family: Arial, Helvetica, sans-serif;
  height: 56px;
  overflow: hidden;
  background: #E32D22;
  width: 100%;
  z-index: 900;
  font-size: 1em;
  min-width: 20em;
}

.handheld #header {
  position: static;
}

#header h1 {
  font-size: 1em;
  line-height: 1;
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 3em;
  padding: 1em 0 0 2em;
  width: 13em;
  z-index: 901;
}

#header .end {
  position: absolute;
  top: 0.9em;
  right: 2em;
}

#header ul {
  font-size: 1em;
  line-height: 1;
  position: absolute;
  top: 0;
  right: 150px;
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 0;
  text-align: center;
}

#header ul.first {
  right: auto;
  left: 180px;
}

#header li {
  display: inline;
}

#header a {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
  border: none;
}

#header ul a {
  font-family: 'FoundryMonolineRegular',Arial,Helvetica,sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  padding: 17px 15px;
  margin: 0;
  display: block;
  float: left;
  text-decoration: none;
  text-shadow: none;
  border-top: .3em solid #e32d22;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

#header ul li.session-logged-in a {
  text-transform: none;
}

#header .last a {
  border-right: none;
}

#header .only a {
  border-color: #e32d22;
}

#header ul a:hover,
#header li.active a {
  border-color: #fff;
}

#header ul a:active,
#header ul a:focus,
#header li.active a:active,
#header li.active a:focus {
  border-color: #fff;
  outline: none;
}

#header ul a .icon {
  display: inline-block;
  margin: 0 5px -2px 0;
}

#header .session-logged-in {
  display: none;
}

@media all and (max-width: 70em) {
  #header ul a {
    padding: 16px 10px;
    font-size: 14px;
  }
}

@media all and (max-width: 55em) {
  #header .end {
    display: none;
  }

  #header ul a {
    padding: 20px 10px;
    font-size: 12px;
  }

  #header ul {
    right: 1em;
  }
}

@media all and (max-width: 40em) {
  #header h1 {
    display: none;
  }

  #header ul.first {
    left: 1em;
  }
}

@media all and (max-width: 30em) {
  #header h1 {
    display: block;
  }

  #header ul.first {
    display: none;
  }
}

@media all and (max-width: 23em) {
  #header ul {
    display: none;
  }

  #header h1 {
    left: 50%;
    margin-left: -62px;
  }
}
